.webix_layout_toolbar.webix_toolbar.form-bottom-bar {
  //background: #34495E;
  background: #ebe5d2;
}

.center {
  text-align: center;
}

:focus {
  outline: 0;
}

.app-left-panel .webix_menu .webix_list_item.spacer:hover {
  background: transparent;
  cursor: default;
}


.dataLoadingPopup > .webix_win_content > .webix_win_body > .webix_view {
  border: none !important;
  font-style: italic;
}
